:root {
  color-scheme: light dark;
  --ion-color-primary: #3157a4;
  --ion-color-primary-rgb: 49, 87, 164;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2b4d90;
  --ion-color-primary-tint: #4668ad;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}
